<div class="nav">
  <div class="ui grip">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <a href="/posts"><h1><%= blog.title %></h1></a>
      <p><%= blog.decsription %></p>
    </div>
  </div>
</div>